[Desktop Entry]
Name=Mousepad
Comment=Simple Xfce oriented text editor
Exec=mousepad
Icon=mousepad
Terminal=false
Type=Application
Categories=Utility;TextEditor;
